<footer class="bg-light text-center">
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2029 Copyright:
        <a class="text-dark" href="#">CardApp</a>
    </div>
</footer>