<main>
  <h1>Index Page</h1>
  {{#if username}}
  <h3>Currently logged in as {{username}}.</h3>
  {{/if}}
  <h3>This main div will be home to each page.</h3>
  <h3>The Layout.hbs will have the head, header/navbar, and footer.</h3>
</main>