<main>
  <h1>Index Page</h1>
  {{#if username}}
  <h3>Currently logged in as {{username}}.</h3>
  {{/if}}
  <h3>Look at these awesome Cards!</h3>
      {{#each cards}}
      {{> cardDiv card = this}}
      {{/each}}
  <h3>Look at these awesome Decks!</h3>     
      {{#each decks}}
      {{> deckDiv deck = this}}
      {{/each}}
</main>