<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
    <title>Card App</title>
  </head>
  <body>
    <div class="container">
      <header>
        {{!-- {{< header}} --}}
      </header>
      {{{body}}}
    </div>
    <footer>@Add footer here</footer>
  </body>
</html>